
    .q {
        color: rgb(255, 255, 255);
           background: #a641e0b0;
       } 
       
    .w { background: #fa49aae5;
           color: rgb(255, 255, 255);
        
       } 
       .c { background: #0d9bfa;
        color: rgb(255, 255, 255);
        text-align: center;
    } 
    .text { background: #ffffff;
           color: blue;
           
       } 
    .foto {
        font-weight: bolder;
        background: #f3f3f367;
   }
   .fu { 
       background: #0d9bfa;
    color: rgb(255, 255, 255);
  
   }
  
       